.button {
    background-color: var(--dark-orange);
    border: 2px solid var(--lighter-black);
    border-radius: 20px;
    color: var(--lighter-black);
    cursor: pointer;
    font-family: var(--main-font);
    letter-spacing: 0.15em;
    font-size: 4vmin;
    margin: 0.4em;
    outline: none;
    padding: 1vmin 1.5vmin;
}
