.createRoom {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0 1em 1em 1em;
    padding: 3vmin;
}

.createRoomHeader {
    font-size: 2em;
    margin: 2vmin;
}

.createRoomForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectRounds {
    font-size: 1.2em;
}

.createRoomButton {
    font-size: 2em;
}

@media only screen and (max-width: 1000px) {
    .createRoom {
        width: 80%;
    }
}
