.invalidWord {
    color: red;
    font-size: 4vmin;
}

.sendWordBox {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
    background-color: #fac825;
    border-radius: 15px;
    padding: 3vmin 1vmin;
    border: 3px solid black;
}

.sendWordBox > span {
    font-size: 4vmin;
}

.sendWordBox > input {
    width: 80%;
    font-size: 4vmin;
    font-family: var(--primary-font)
}

.entryBox {
    background-color: var(--orange);
    font-size: 1.2em;
    border-radius: 15px;
    border: 3px solid black;
}

.enterWordButton {
    font-size: 1.5em;
}
