.players {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.players tr {
    display: flex;
}

.playerUsername {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current {
    font-weight: bold;
}
