.chatArea {
    height: 65%;
}

.chatRoom {
    position: absolute;
    height: 55%;
    z-index: 100;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0em 0.5em 0.5em 0.5em;
    letter-spacing: 0.2em;
}

.showChatArrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hideChatArrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.shown {
    display: flex;
}

.hidden {
    display: none;
}

.chatBox {
    font-size: 1em;
    display: flex;
    flex-grow: 1;
    min-height: 10vh;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    margin: 0.5em;
    letter-spacing: 0.2em;
    overflow-y: auto;
}

.chat {
    font-size: 0.7em;
    line-height: 90%;
    text-align: left;
    margin: 1em;
}

.chatTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chatBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chatInput {
    margin: 2vmin;
    padding: 2vmin;
    width: 100%;
}

.chatHeader {
    margin-top: 0.4em;
    font-size: 5vmin;
    text-align: center;
}
