.chatArrowArea {
    display: flex;
}

.clickable {
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newMessage {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.showChatArrow,
.hideChatArrow {
    width: 15px;
    height: 15px;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin-right: 1em;
}

.showChatArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hideChatArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}

.hidden {
    display: none;
}

.messagesContainer {
    flex-grow: 1;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.2em;
}

.scrollContainer {
    position: relative;
    height: 100%;
}

.messages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0;
    width: 100%;
}

.messageUsername {
    padding-right: 1em;
}

.messageText {
    border: 2px solid black;
    padding: 0.2em;
    background-color: orange;
    border-radius: 1em;
    word-wrap: break-word;
    max-width: 100%;
    text-align: left;
}

.chatMessageForm {
    display: flex;
    flex-direction: row;
}

.chatInput {
    flex-grow: 1;
    min-width: 0;
}
