.chatArrowArea {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chatArrowArea > span {
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
}

.newMessage {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.showChatArrow {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hideChatArrow {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.chat {
    height: 62vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 1em;
    margin: 1vmin;
    padding: 0 2vmin;
    flex-grow: 1;
}

.chat > h1 {
    font-size: 2.5em;
    margin: 1vmin;
}

@media only screen and (max-width: 1000px) {
    .chat {
        height: 450px;
    }
    .gameChat {
        width: 80%;
        min-height: 400px;
        height: 62vh;
        position: absolute;
        z-index: 100;
        top: 30%;
        left: 10%;
        padding: 4vmin;
    }
    .lobbyChat {
        width: 80%;
        z-index: 100;
        padding: 4vmin;
    }
}

.shown {
    display: flex;
}

.hidden {
    display: none;
}

.messagesContainer {
    margin: 0.5em;
    flex-grow: 1;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.2em;
}

.chatInput {
    width: 80%;
}

.chatButton {
    margin-top: 0;
}

.scrollbarPadding {
    position: relative;
    height: 100%;
}

.messages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    text-align: left;
}

.message {
    word-wrap: break-word;
    margin: 0.5vmin;
    display: flex;
    align-items: center;
}

.messageUsername {
    padding-right: 1vmin;
}

.messageText {
    min-width: 80%;
    border: 2px solid black;
    padding: 0.5vmin 2vmin;
    background-color: orange;
    border-radius: 1em;
}

.chatMessageForm {
    display: flex;
}
