.leaderboardPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollbarPadding {
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 1em;
}

.leaderboard {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 10vmin 20vmin;
    font-size: 2em;
    overflow-y: auto;
    list-style: none;
}

.leaderboardHeader {
    margin-top: 0;
}

.leaderboardTableColumn {
    margin: 0 2vmin 2vmin 2vmin;
}

.leaderboardTableRow {
    margin: 0;
    text-align: center;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
}
