.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1.5em;
}

.roomHeader {
    font-size: 3vmin;
    margin-top: 0;
}

.room > ul {
    font-family: var(--secondary-font);
}

.waiting {
    margin-top: 1em;
}
