.room {
    min-height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vmin 2vmin;
    margin: 3vmin;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1.2em;
}

@media only screen and (max-width: 1500px) {
    .room {
        width: 80%;
        min-height: auto;
    }
}

.roomHeader {
    text-align: center;
    margin-top: 0;
}

.waiting {
    text-align: center;
    margin-top: 2vmin;
}

.roomButton {
    font-size: 1em;
}

.roomButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.removeAIButton {
    width: 4vmin;
    height: 4vmin;
    padding: 0;
    font-size: 2.8vmin;
    letter-spacing: 0;
    text-align: center;
}

.playerInRoom {
    display: flex;
    flex-direction: row;
    align-items: center;
}
