.time {
   font-size: 4em;
   display:table;
   margin:0;
   height: 100%;
   width: 100%;
   text-align: center;
   margin-top: 0.15em;
}

.clock {
   background-color: rgb(212, 1, 1);
   font-size: 0.7em;
   bottom: 5%;
   width: 6em;
   height: 6em;
   border-radius: 50%;
   border: 0.07em solid;
   position: absolute;
   left: 5%;
   bottom: 10%;
   animation: pulsate 1s infinite;
}

@keyframes pulsate {
   0% {
      transform: scale(1.0, 1.0); opacity: 0.9;
   }
   50% {
      transform: scale(1.1, 1.1); opacity: 1.0;
   }
   100% {
      transform: scale(1.0, 1.0); opacity: 0.9;
   }
}