.messageBox {
    margin-right: 1em;
}

.messageBox > input {
    margin: 10px;
    padding: 1em 2em;
    background-color: var(--yellow);
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
}

h1 {
    text-align: right;
}

.sendWordButton {
    padding: 0.8em 1.5em;
    background-color: var(--orange);
    border: 1px solid black;
    border-radius: 15px;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
}

.playerInteractions {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.playerInteractions > h3 {
    margin-right: 1em;
    text-align: center;
    width: 100%;
}