.playerInteractions {
    position: absolute;
    top: 30%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fac825;
    border-radius: 15px;
    padding: 2vmin 2vmin;
    border: 3px solid black;
    font-size: 1.5em;
}

.votePrompt {
    top: 80%;
}

@media only screen and (max-width: 500px) {
    .votePrompt {
        top: 40%;
    }
}
