.gameOverBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fac825;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
    font-size: 5vmin;
    margin-bottom: 15vmin;
}

h2 {
    text-align: center;
}