.cardsContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.singleCard {
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 3vmin;
    width: 25vmin;
    height: 40vmin;
    cursor: pointer;
    transition: 0.5s;
}

.singleCard:hover {
    transform: translate3d(0, -10px, 0);
}

.disabledCard {
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 3vmin;
    width: 25vmin;
    height: 40vmin;
    opacity: 0.7;
}

.allCards {
    margin: 10px;
    border: 2px solid black;
    border-radius: 2vmin;
    width: 15vmin;
    height: 25vmin;
}