.messageBox {
    margin-right: 1em;
    
}

.messageBox > input {
    margin-right: 10px;
    padding: 0 2vmin;
    height: 6vh;
    font-size: 2vh;
    background-color: var(--yellow);
    border: 3px solid black;
    border-radius: 15px;
    outline: none;
}

h1 {
    text-align: right;
}

.sendWordButton {
    padding: 1vmin 2vmin;
    background-color: var(--dark-orange);
    border: 3px solid black;
    border-radius: 15px;
    font-size: 2.8vh;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
    margin: 2vmin;
}

.playerInteractions {
    margin: 2vmin;
    position: relative;
    display: flex;
    top: 25%;
    flex-direction: column;
    align-items: flex-end;
    background: #fac825;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmin 2vmin;
    height: 22%;
    width: 29%;
    border: 3px solid black;
}

@media only screen and (max-width: 800px) {
    .playerInteractions {
        margin-bottom: 50vw;
    }
}

.playerInteractions > h3 {
    color: var(--lighter-black);
    margin-right: 1em;
    text-align: center;
    width: 100%;
    font-size: 3.5vmin;
    margin-bottom: 0.5em;  
}
