.messageBox {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messageBox > input {
    margin-right: 10px;
    padding: 0 2vmin;
    height: 6vh;
    font-size: 2vh;
    background-color: var(--yellow);
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
}

h1 {
    text-align: right;
}

.sendWordButton {
    padding: 0.5em 1em;
    background-color: var(--dark-orange);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 2.8vh;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
}

.playerInteractions {
    margin: 4vmin;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (max-width: 800px) {
    .playerInteractions {
        margin-bottom: 50vw;
    }
}

.playerInteractions > h3 {
    color: var(--lighter-black);
    margin-right: 1em;
    text-align: center;
    width: 100%;
    font-size: 5vmin;
}