.uploadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
}

.uploadForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uploadMessage {
    color: white;
    background-color: var(--red);
    padding: 0.2em 0.5em;
}

.fileUpload {
    display: block;
    text-align: center;
}

.fileUpload .fileSelect {
    display: block;
    border: 2px solid black;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.fileUpload .fileSelect .fileSelectButton {
    background: var(--red);
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.fileUpload .fileSelect .fileSelectName {
    display: inline-block;
    padding: 0 10px;
}

.fileUpload .fileSelect:hover {
    border-color: black;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.fileUpload .fileSelect:hover .fileSelectButton {
    background: var(--yellow);
    color: #FFFFFF;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}

.active .fileSelect {
    border-color:#3fa46a;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}

.active .fileSelect .fileSelectButton{
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.fileUpload .fileSelect input[type=file] {
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload .fileSelect.fileSelect-disabled {
    opacity: 0.65;
}

.fileUpload .fileSelect.fileSelect-disabled:hover {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.fileUpload .fileSelect.fileSelect-disabled:hover .fileSelectButton {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.fileUpload .fileSelect.fileSelect-disabled:hover .fileSelectName {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
