.fade {
    width: 100%;
    position: relative;
}

.fade:before,
.fade:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    pointer-events: none;
    width: 4vh;
    height: calc(100% - 4vh);
}

.fade:after {
    right: 0;
    background-image: linear-gradient(to right, rgba(223, 109, 15, 0), rgba(223, 109, 15, 1) 100%);
}

.fade:before {
    left: 0;
    background-image: linear-gradient(to left, rgba(223, 109, 15, 0), rgba(223, 109, 15, 1) 100%);
}

.cardList {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
}

.spacer {
    height: 1px;
    width: 20px;
    flex-shrink: 0;
}

.cardList::-webkit-scrollbar {
    height: 4vh;
}

.cardList::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    width: 4vh;
}

.cardList::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 2vh 0 2vh 4vh;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
}

.cardList::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 2vh 4vh 2vh 0;
    border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent;
}

.cardList::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    border-color: transparent transparent transparent white;
}

.cardList::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent white transparent transparent;
}
