.dashboard {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dilana';
    font-size: 2vmin;
}

@media only screen and (max-width: 800px) {
    .playerInteractions {
        margin-bottom: 50vw;
    }
}
