.dashboard {
    height: 100%;
    display: flex;
    padding: 1.2em;
    flex-direction: row;
}

.gameInfo {
    font-size: 3vmin;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
}

.gameInfo > h2 {
    text-align: center;
}

.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 1.2em;
}

.right {
    width: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (max-width: 1000px) {
    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        width: 100%;
        height: 50%;
        align-items: center;
    }

    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .main {
        height: 600px;
        flex-direction: column;
    }
}

@media screen and (max-height: 500px) {
    .dashboard {
        height: auto;
    }
}

.centerBox {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
