.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo {
    flex-grow: 1;
    padding: 1em;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.gameInfo {
    padding: 1em;
    margin: 1em;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1.5em;
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.interactions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
