@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing: none
}
@font-face {
    font-family: 'Dilana';
    font-style: normal;
    font-weight: normal;
    src: local('Dilana'), url('./fuente_dilana.ttf') format('truetype');
}
@keyframes pulse_animation
{
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.05); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.03); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 700;
  font-size: 10em;
  margin: 0.03em;
  position: relative;
  color: rgb(0, 0, 0, 0.8);
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  font-family: 'Dilana';
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter:before {
    -webkit-text-stroke-width: 0.0005em;
    -webkit-text-stroke-color: rgba(219, 139, 19, 0.8);
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 
    -1px 0px 1px rgba(255, 126, 5, 0.8),
    1px 0px 1px rgba(73, 57, 4, 0.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(172, 106, 21, 0.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #1d1202;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}



.loginPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
}

.loginForm {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.loginInput {
    width: 50%;
    min-width: 200px;
    padding: 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    outline: none;
    background-color:rgb(247, 136, 63);
    font-family: monospace;
    color: black;
    font-weight: 600;
    font-size: 1em;
    margin: 0.5em;
}

::placeholder {
    color: black;
}

.loginButton {
    font-family: 'Dilana';
    margin: 2vmin;
    padding: 0.3em 1em;
    background-color:  rgba(223, 109, 15, 0.9);
    outline: none;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2em;
    cursor: pointer;
    font-weight: 600;
    animation: pulse_animation 1s infinite;
}

.loginButton:hover {
    background-color:rgba(255, 126, 5, 0.8);
}

.formHeader {
    min-width: 0px;
    font-size: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Dilana';
    font-weight: 600;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0.5em auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blinking-cursor 0s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.errorText {
    color: red;
    height: 5%;
}

.logOutButton {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-family: var(--main-font);
    margin: 2vmin;
    padding: 0.7em 2em;
    background-color: rgba(223, 109, 15, 0.9);
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1em;
    cursor: pointer;
}

