.loginPage {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
}

.loginForm {
    height: 80%;
    padding: 0 10vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2.5px solid black;
    border-radius: 15px;
    opacity: 25%;
    background: #fac825;
    margin: 2em;
}

.loginInput {
    width: 80%;
    min-width: 200px;
    font-family: var(--main-font);
    padding: 0.4em 1em;
    border: 2.5px solid black;
    border-radius: 15px;
    outline: none;
    background-color: var(--yellow);
    color: black;
    font-size: 3vh;
    margin: 0.5em;
}

.loginButton {
    font-family: 'Dilana';
    margin: 2vmin;
    width: 20vh;
    height: 7vh;
    color: var(--lighter-black);
    background-color: var(--yellow);
    outline: none;
    border: 2.5px solid var(--lighter-black);
    border-radius: 15px;
    font-size: 4vh;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.loginButton:hover {
    font-size: 4.4vh;
}

.formHeader {
    font-size: 3vh;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Dilana';
}

.errorText {
    color: red;
    height: 5%;
    font-size: 3vh;
}
