.header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.currentRooms {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
}

.chatArea {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
    width:40%;
    height: 60%;
}
