@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  src: local('Teko'), url('./fonts/Teko-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

:root {
  height: 100%;
  width: 100%;
  position: relative;
  --blue: #43BCCD;
  --purple: #662E9B;
  --red: #EA3546;
  --light-orange: rgb(247, 136, 63);
  --dark-orange: rgba(223, 109, 15, 1);
  --orange: rgba(255, 126, 5, 0.5);
  --yellow: #F49100;
  --golden: rgba(73, 57, 4, 0.8);
  --lighter-black: rgba(0, 0, 0, 0.8);
  --main-font: 'Teko';
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark-orange);
  }

#root {
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button, select {
    outline: none;
    font-size: 1.5em;
    color: var(--lighter-black);
    margin: 1vmin;
    border: 2px solid var(--lighter-black);
    border-radius: 0.6em;
    font-family: var(--main-font);
    padding: 0.2em 0.5em;
}

input {
    background-color: var(--yellow);
}

input::placeholder {
    color: var(--golden);
}

select {
    background: #fff;
}

button {
    background-color: var(--dark-orange);
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: var(--light-orange);
}

/*  SCROLLBARS */

.arrowScrollbar::-webkit-scrollbar {
    height: 2vh;
}

.arrowScrollbar::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    width: 2vh;
}

.arrowScrollbar::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 2vh 1vh 0 1vh;
    border-color: rgba(0, 0, 0, 1) transparent transparent;
}

.arrowScrollbar::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 1vh 2vh 1vh;
    border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}
