body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  height: 100%;
  --blue: #43BCCD;
  --purple: #662E9B;
  --red: #EA3546;
  --orange: #F86624;
  --yellow: #F9C80E;
  --main-font: 'Acme', sans-serif;
}

#root {
  height: 100%;
  font-family: var(--main-font);
  background: url('./components/Dashboard/back.jpg');
  background-size: cover;
}

#end-turn, #start-game {
  background-color: var(--red);
  padding: 1em 3em;
  outline: none;
  border: 1px solid black;
  font-family: var(--main-font);
  border-radius: 20px;
  font-size: 1em;
  z-index: 1;
  margin: 1em;
  cursor: pointer;
  transition: 0.2s;
}
