@font-face {
  font-family: 'NotoSerif';
  font-style: normal;
  font-weight: normal;
  src: local('NotoSerif'), url('./fonts/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  src: local('Teko'), url('./fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FutureTimeSplitters';
  font-style: normal;
  font-weight: normal;
  src: local('FutureTimeSplitters'), url('./fonts/Future_TimeSplitters.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  height: 100%;
  --blue: #43BCCD;
  --purple: #662E9B;
  --red: #EA3546;
  --light-orange: rgb(247, 136, 63);
  --dark-orange: rgba(223, 109, 15, 1);
  --orange: rgba(255, 126, 5, 0.5);
  --yellow: #F49100;
  --golden: rgba(73, 57, 4, 0.8);
  --lighter-black: rgba(0, 0, 0, 0.8);
  --main-font: 'Teko';
  --secondary-font: 'NotoSerif';
}

#root {
  height: 100%;
  font-family: var(--main-font);
  background: url('./images/back.jpg');
  background-size: cover;
}

::placeholder {
    color: var(--golden);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    padding: 1em;
    background-color: var(--yellow);
    border: 3px solid black;
    border-radius: 15px;
    outline: none;
}

select {
    font-size: 1.5em;
    padding: 0.2em;
    margin: 1em;
    background: #fff;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--secondary-font);
}

button {
    background-color: var(--dark-orange);
    border: 2px solid var(--lighter-black);
    border-radius: 20px;
    color: var(--lighter-black);
    font-family: var(--main-font);
    cursor: pointer;
    letter-spacing: 0.15em;
    font-size: 3vmin;
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    margin: 0.5em;
}

button:hover,
button:focus {
    background-color: var(--light-orange);
}
