.cardWrapper {
    --width: 20vmin;
    border: calc(var(--width)/30) solid white;
    border-radius: calc(var(--width)/20);
    box-shadow: 0px 0px calc(var(--width)/15) 0px rgba(0, 0, 0, 0.2);
    height: calc(var(--width)/0.65);
    width: var(--width);
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}

.card {
    height: 30vmin;
    width: 20vmin;
    object-fit: cover;
}

.enabled {
    cursor: pointer;
    transition: 0.2s;
}

.enabled:hover {
    transform: scale(1.01);
}

.disabled {
    opacity: 0.7;
}

.selected {
    border: calc(var(--width)/30) solid red;
    box-shadow: 0px 0px calc(100% - var(--width)/5) 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 2em;
    opacity: 1;
}

.vote {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    font-weight: bold;
}
